@import "../colors", "../fonts";

#modal {
  &-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 80%;
    padding: 75px 0;
    background-color: #f8f8f8;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }

  &-btn {
    width: 70%;
    height: 40px;
    background-color: $primary-color;
    color: $secondary-text-color;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 7px $shadow-color;
    letter-spacing: 1px;
    margin: 10px 0;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}
