@import "../colors", "../fonts";

.game-setup {
  gap: 50px;

  &-title {
    margin-top: 50px;
    text-align: center;
  }

  .course-type {
    text-align: center;

    &-label {
      padding-left: 0 !important;
    }

    .btn-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }

    &-btn {
      background: none;
      border: 1px solid $secondary-color;
      color: $secondary-color;
      border-radius: 10px;
      height: 80px;
      width: 50%;
      min-width: 80px;
      box-shadow: 2px 2px 7px $shadow-color;
      opacity: 0.7;

      &:hover {
        cursor: pointer;
      }

      &[disabled],
      &[disabled]:hover {
        background-color: $secondary-color;
        color: $secondary-text-color;
        box-shadow: inset 0px 0px 5px #383b94;
        opacity: 1;
        cursor: default;
      }
    }
  }
}
