@import "../components/colors", "../components/fonts";

.game-history {
  .history-header {
    margin-top: 10px;
  }
  .small-font {
    font-size: 14px;
  }
  .game-data {
    width: 90%;
    min-width: 320px;
    margin-top: 10px;

    &-child {
      width: 100%;
      margin: 10px 0;
      display: inline-flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      padding: 5px 10px;
      background-color: #f2f2f2;
      box-shadow: 2px 2px 5px $shadow-color;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      .arrow-forward {
        margin-left: 8px;
        font-size: 25px;
      }
    }

    &-info {
      width: 100%;
    }
    &-top,
    &-bottom {
      display: inline-flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
    }
  }
}
