@import "../components/fonts", "../components/colors";

.page-container {
  z-index: -1;
  &.hero {
    justify-content: space-evenly;
  }

  .form-header {
    margin-bottom: 15px;
  }

  .form-input.checkbox {
    display: flex;
    align-content: center;

    label {
      font-size: 16px;
      @include light();
    }

    #remember-me {
      height: 23px;
      width: 23px;
    }
  }

  .screen-switch {
    width: 80%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 30px;

    button {
      color: $theme-color;
      @include regular();
      background: none;
      border: none;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
#home-logo {
  z-index: -1;
  height: 100px;
  filter: invert(17%) sepia(94%) saturate(4989%) hue-rotate(138deg)
    brightness(103%) contrast(98%);
}
