// Main color, Banner color
$theme-color: #038c0c;

// Backgrounds
$bg-color: #fff;

// Action colors
$primary-color: #46a800;
$shadow-color: #17360052;
$secondary-color: #575cda;
$light-green: #52bf0441;

// Input backgrounds
$input-color: #d8d8d8;

// Text colors
$main-text-color: #1e1e1e;

$secondary-text-color: #fff;
