// Main color, Banner color
$theme-color: #038c0c;

// Backgrounds
$bg-color: #fff;

// Action colors
$primary-color: #52bf04;

$secondary-color: #575cda;

// Input backgrounds
$input-color: #f2f2f2;

// Text colors
$main-text-color: #1e1e1e;

$secondary-text-color: #fff;
